.hero {
  padding-top: 160px;
  min-height: 800px;
  background-color: var(--dark-color);

  &__container {
    @include flex-v-center;

    @include high-tablet {
      display: block;
    }
  }

  &__content {
    min-width: 516px;

    @include high-tablet {
      min-width: auto;
      text-align: center;
    }
  }

  &__image {
    transform: translateX(167px);

    @include high-desktop {
      transform: translateX(0);
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    color: var(--light-color);
    text-transform: uppercase;
  }

  &__title-text {
    max-width: 65%;
    margin-bottom: 50px;
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-transform: initial;

    @include high-tablet {
      max-width: 100%;
    }
  }

  @include high-tablet {
    min-height: auto;
  }
}
